<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="/default_style.css">
</head>
<body>
<header class="header">
  <nav>
    <h1 class="ht">메뉴</h1>
    <ul class="hul">
      <h4 class="menu">
        <li><a href="/">홈</a></li>
        <li><a href="/login/login">로그인</a></li>
        <li><a href="/post/savePost">판매 등록</a></li>
        <li><a href="/item/searchItem">검색</a></li>
        <li><a href="#">구매</a></li>
      </h4>
    </ul>
  </nav>
</header>
<div class="container">