<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="/css/main_style.css">
  <link rel="stylesheet"
        href="/css/header_style.css">
</head>
<body>
<header class="header">
  <nav>
    <h1 class="title">
      <li><a href="/">메뉴</a></li>
    </h1>
    <ul class="menu">
      <li>
        <a href="/post/save" methods="get">판매 등록</a>
      </li>
      <li>
        <a href="/itemV/search">물품 검색</a>
        <ul class="sub submenu">
          <li><a href="/itemV/modify">물품 수정</a></li>
          <li><a href="#">카테고리 2</a></li>
        </ul>
      </li>
      {{^username}}
        <li>
          <a href="/login">로그인</a>
        </li>
      {{/username}}
      {{#username}}
        <li>
          <a href="/myPage/userinfo">마이 페이지</a>
          <ul class="sub submenu">
            <li><a href="/myPage/userinfo">유저 정보</a></li>
            <li><a href="/myPage/myPost">판매 글</a></li>
            <li><a href="/myPage">마이 페이지</a></li>
          </ul>
        </li>
        {{>layout/logout}}
      {{/username}}
    </ul>
  </nav>
</header>
<div class="container">