<a href="/oauth2/authorization/google">
  <img class="loginImage" title="google singIn" height="40" width="160"
       src="/images/google_signIn.png" alt="google">
</a>
<a href="/oauth2/authorization/naver">
  <img class="loginImage" title="naver singIn" height="40" width="160"
       src="/images/naver_signIn.png" alt="naver">
</a>