{{>layout/header}}
<h1>
  로그인 화면
</h1>
{{#username}}
  <div class=user">
    <h5>login as {{username}}</h5>
  </div>
{{/username}}
<div class="loginForm">
  <h2>
    {{^username}}
      {{>layout/oauth2}}
    {{/username}}
    {{#username}}
      {{>layout/logout}}
    {{/username}}
    <br>
  </h2>
</div>
{{>layout/footer}}
