body {
background-color :#F0F0F0;
}

ul{
margin: 0; padding: 0;
list-style: none;
}

.header {
height:120px; background-color:#33FF99; border: 1px solid #253342;
position:fixed; width: 90%; z-index:9999; top:0; left:5%; right:5%;
}

.title {
list-style: none;
color:blue; line-height:50px; float:left;
}

.menu {
color:blue; px:50px; float:right;
}

.menu li {
position: relative;
width: 120px; padding: 5px;
float:left; margin-right:10px;
text-align: center;
}

.menu li a {
display: block; padding: 0px 10px;
background-color: #333333;
height: 30px; line-height: 30px;
color: #00FFFF;
}

.menu .sub {
display: none; position: absolute;
}

.menu .sub li{
display: block; padding: 5px;
background-color: #33BB88;
text-align: center;
line-height: 10px;
}

.menu li:hover .submenu {
display: block;
}