{{>layout/header}}
<h1>HomePage</h1>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      {{^username}}
        <div class="right">
          {{>layout/oauth2}}
        </div>
      {{/username}}
      {{#username}}
        <div class="right">
          Login as : {{username}}
          {{>layout/logout}}
        </div>
      {{/username}}
    </div>
  </div>
</div>
</div>
{{>layout/footer}}