<?xml version="1.0" encoding = "UTF-8?"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.market.repository.UserRepository">
  <!-- yml alias 설정 -->
  <insert id="saveUser" parameterType="dto.UserD">
    insert into user_table(username, password, email, role)
    values(#{username}, #{password}, #{email}, ROLE_USER)
  </insert>

  <select id="findUserByUsername" parameterType="String">
    select password from user_table where username = #{username}
  </select>

  <update id="updateUserByUsername" parameterType="String">
    update user_table Set password = #{password} where username = #{username}
  </update>
</mapper>