<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.market.repository.ItemMapper">
  <select id="searchItemByItemName"
    parameterType="String"
    resultType="itemD">
    SELECT * FROM item_table
    WHERE item_name LIKE #{itemName}
  </select>

  <delete id="deleteItemById"
    parameterType="Long">
    DELETE FROM item_table
    WHERE id = #{id}
  </delete>
</mapper>