<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.market.repository.PostMapper">
  <insert id="insertPostBySeller"
    parameterType="postD">
    INSERT INTO post_table(seller,title,content)
    VALUES(#{seller},#{title},#{content})
  </insert>

  <select id="selectPostBySeller"
  parameterType="String"
  resultType="postD">
    SELECT * FROM post_table
    WHERE seller = #{seller}
  </select>

  <delete id="deletePostById"
  parameterType="Long">
    DELETE FROM post_table
    WHERE id = = #{id}
  </delete>
</mapper>