<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.market.repository.UserMapper">
  <select id="selectUserAll"
    resultType="userD">
    SELECT * FROM user_table
  </select>

  <select id="findByEmailAndProvider"
  parameterType="Map"
  resultType="userD">
    SELECT * FROM user_table
    WHERE email = #{emAndPv.email}, provider = #{emAndPv.provider}
  </select>

  <select id="findUserByUsername"
    parameterType="String"
    resultType="userD">
    SELECT * FROM user_table
    where username = #{username}
  </select>

  <insert id="saveUser"
    parameterType="userD">
    INSERT INTO user_table(username,password,email)
    VALUES(#{username},#{password},#{email})
  </insert>

  <delete id="deleteUser"
    parameterType="String">
    DELETE FROM user_table
    where username = #{username}
  </delete>

  <update id="updateByUser"
    parameterType="userD">
    UPDATE user_table
    SET seller = #{seller}, item_name = #{itemName},
    item_price = #{itemPrice}, sell_count = #{sellCount},
    item_stock = #{itemStock}
    WHERE id = #{id}
  </update>
</mapper>