<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.market.repository.UserMapper">
  <select id="selectUserAll"
    resultType="userD">
    SELECT * FROM user_table
  </select>

  <select id="findByEmailAndProvider"
  parameterType="Map"
  resultType="userD">
    SELECT * FROM user_table
    WHERE email = #{email} AND provider = #{provider}
  </select>

  <select id="findUserByUsername"
    parameterType="String"
    resultType="userD">
    SELECT * FROM user_table
    where username = #{username}
  </select>

  <insert id="saveUser"
    parameterType="userD">
    INSERT INTO user_table(username,password,email,picture,role)
    VALUES(#{username},#{password},#{email},#{picture},#{role})
  </insert>

  <delete id="deleteUser"
    parameterType="String">
    DELETE FROM user_table
    where username = #{username}
  </delete>

  <update id="updateUser"
    parameterType="userD">
    UPDATE user_table
    SET username = #{username}, password = #{password},
    email = #{email}, role = #{role}, profile = #{profile},
    nickname = #{nickname}
    WHERE id = #{id}
  </update>
</mapper>